body{
 margin: 0 30%;
}
.Nothern{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    font-size: 2rem;
    background-color: aqua;
}
.picture{
    overflow: hidden;
    object-fit: cover;
}
.Southern{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    font-size: 2rem;
    background-color:chocolate;
}